@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");

:root {
  /* fonts */
  --ff-sans: "Barlow", sans-serif;
  --ff-cond: "Barlow Condensed", sans-serif;
  --fs-base: 1.125rem;
  /* colors */

  --primary-red: hsl(0, 100%, 68%);
  --VeryDarkBlue: hsl(230, 29%, 20%);
  --DarkGrayishBlue: hsl(230, 11%, 40%);
  --GrayishBlue: hsl(231, 7%, 65%);
  --LightGrayishBlue: hsl(207, 33%, 95%);
}

body {
  font-family: var(--ff-sans);
  background-color: var(--LightGrayishBlue);
  min-height: 100vh;
  font-size: var(--fs-base);
  color: var(--VeryDarkBlue);
  font-weight: 400;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.d-block {
  display: block;
}

.flow > *:where(:not(:last-child)) {
  margin-top: var(--gap, 1rem);
}

.text-DarkGrayishBlue {
  color: var(--DarkGrayishBlue);
}

.container {
  max-width: 90rem;
  padding-inline: clamp(1.2rem, 5vw + 0.5rem, 2rem);
  margin-inline: auto;
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100%;
}

.primary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-block: 1rem;
}

.primary-navigation {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  font-family: var(--ff-cond);
}

.primary-navigation a {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: var(--VeryDarkBlue);
  display: inline-flex;
  padding: 1rem 0.3rem;
  transition: color 300ms ease-in-out;
}

.primary-navigation a:hover {
  color: var(--DarkGrayishBlue);
}

.primary-navigation a::after {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--GrayishBlue);
  transform: scale(0);
  transition: transform 450ms ease-in-out;
}
.primary-navigation a:hover::after {
  transform: scale(1);
}

.mobile-nav-toggle {
  display: none;
}

.main-content {
  align-items: center;
  justify-content: center;
  margin-block: 2rem;
}

.main-content__intro {
  align-items: center;
  letter-spacing: 2px;
  color: var(--GrayishBlue);
}

.main-content__intro > span {
  background-color: var(--VeryDarkBlue);
  color: var(--LightGrayishBlue);
  padding: 0.3rem 0.6rem;
  border-radius: 0.6rem;
}

.main-content__heading {
  font-family: var(--ff-cond);
  font-weight: 700;
  font-size: clamp(2.5rem, 5vw + 0.5rem, 3rem);
  max-width: 50ch;
}

.showcase-image {
  width: 60%;
}

button[type="button"] {
  border: none;
  padding: 1em 1.2em;
  font-size: clamp(1rem, 3vw + 0.3rem, 1.2rem);
  font-family: var(--ff-cond);
  font-weight: 700;
  color: var(--GrayishBlue);
  border-radius: 0.4rem;
  background-color: transparent;
  cursor: pointer;
}

button[type="button"]:first-child {
  background-color: var(--primary-red);
  color: white;
}

button[type="button"]:first-child:hover {
  opacity: 0.85;
}
button[type="button"]:last-child {
  border: 0.002rem solid var(--GrayishBlue);
}

/* '\'\'\'\'\'\'\'\'\' */
@media (max-width: 35em) {
  .primary-navigation {
    position: fixed;
    background-color: var(--LightGrayishBlue);
    top: 15%;
    left: 10%;
    right: 10%;
    flex-direction: column;
    padding-block: 1rem;
    text-transform: uppercase;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    transform: translateX(120%);
    transition: transform 450ms ease-in-out;
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }
  .primary-navigation li {
    width: 100%;
  }
  .primary-navigation a {
    padding: 0.9rem 0.5rem;
    width: 75%;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    top: 2rem;
    right: 1rem;
    width: 2rem;
    border: 0;
    outline: 0;

    background-image: url(../images/icon-hamburger.svg);
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    z-index: 10101;
    transition: background-image 450ms ease-in-out;
    cursor: pointer;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(../images/icon-close.svg);
  }
  .main-content {
    flex-direction: column-reverse;
  }
  .showcase-image {
    width: 100%;
  }

  .cta {
    flex-direction: column;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.attribution {
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  background-image: url(../images/logo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  cursor: pointer;
}

.attribution p {
  position: fixed;
  bottom: 4.5rem;
  left: 4.5rem;
  background-color: var(--primary-red);
  width: 25%;
  color: var(--LightGrayishBlue);
  padding: 0.5em 0.7em;
  border-radius: 1rem;
  transform: rotateX(90deg);
  visibility: hidden;
  transition: all 450ms ease-in;
}

.attribution a {
  color: var(--VeryDarkBlue);
  text-decoration: none;
  font-weight: 700;
}

.attribution:hover p {
  transform: rotate(0deg);
  visibility: visible;
}
